<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" href="{{ assets('images/favicon.ico') }}">
	<title>Simple admin: {% block title %}{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ assets('node_modules/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ assets('css/style.css') }}">
	{% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">
	<button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="#"></a>
	<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>

	<ul class="nav navbar-nav ml-auto offset-md-1">
		<li class="nav-item username">
			<span>{{ session.username }}</span>
		</li>
		<li class="nav-item">
			<a href="{{ generate_url('logout') }}" class="btn btn-outline-danger"><i class="fa fa-sign-out"></i>&nbsp; Wyloguj się</a>
		</li>
	</ul>

</header>

<div class="app-body">
    {% include 'menu.html.twig' %}

	<!-- Main content -->
	<main class="main">

		<!-- Breadcrumb -->
        {#		<ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>

                    <!-- Breadcrumb Menu-->
                    <li class="breadcrumb-menu d-md-down-none">
                        <div class="btn-group" role="group" aria-label="Button group">
                            <a class="btn" href="#"><i class="icon-speech"></i></a>
                            <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                            <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                        </div>
                    </li>
                </ol>#}

		<div class="container-fluid">

			<div class="animated fadeIn">
				<div class="row">
                    {% block content %}

                    {% endblock %}
					<!--/.col-->
				</div>
			</div>

		</div>
		<!-- /.conainer-fluid -->
	</main>

</div>

<footer class="app-footer">
	<span><a target="_blank" href="https://github.com/lomboboo/php-simple-admin">Simple Admin.</a> &copy; 2017</span>
</footer>

{% block scripts %}
	<script src="{{ assets('node_modules/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ assets('node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
	<script src="{{ assets('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ assets('js/app.js') }}"></script>
{% endblock %}
</body>
</html>